---
import Hero from "../components/Hero.astro";
import LeaderBoardRow from "../components/LeaderboardRow.astro";

interface Clan {
	clan: string;
	members: string[];
	trophies: number;
}

interface Player {
	name: string;
	clan: string;
	trophies: number;
	kills: number;
	deaths: number;
}

/*
Nicolai - 1
Bradford - 1
Shen - 1
DeadVampireGame - 1
George - 1
Umpathud - 1
Dz - 2
Juicy - 2
Zekimar - 2
Kraydos - 1
Shakes - 1
Rimus - 1
Electro - 2
Astarisc - 1
Tleilax - 1
Roroftw - 1
Loontrain - 2
Chapenstien - 2
Computer - 1 
*/

const playerData: Player[] = [
	// {"name": "Nicolai", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "Bradford", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "Shen", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "DeadVampireGame", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "George", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "Umpathud", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	{"name": "Dz", "clan": "idkman", "trophies": 2, "kills": 0, "deaths": 0},
	{"name": "Juicy", "clan": "idkman", "trophies": 2, "kills": 0, "deaths": 0},
	{name: "Zekimar", clan: "yep", trophies: 2, kills: 0, deaths: 0},
	// {"name": "Kraydos", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "Shakes", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "Rimus", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	// {"name": "Electro", "clan": "TODO", "trophies": 2, "kills":0, "deaths": 0},
	{name: "Astarisc", clan: "something", trophies: 1, kills: 0, deaths: 0},
	{name: "Tleilax", clan: "yep", trophies: 1, kills: 0, deaths: 0},
	{name: "Roroftw", clan: "something", trophies: 1, kills: 0, deaths: 0},
	// {"name": "Loontrain", "clan": "TODO", "trophies": 2, "kills": 0, "deaths": 0},
	// {"name": "Chapenstien", "clan": "TODO", "trophies": 2, "kills": 0, "deaths": 0},
	// {"name": "Computer", "clan": "TODO", "trophies": 1, "kills": 0, "deaths": 0},
	{name: "hiCT", clan: "", trophies: 0, kills: 0, deaths: 0}
] 

const clans: { [key: string]: Clan } = {};
const solos: Array<Player> = [];

playerData.forEach((player) => {
	if (player.clan in clans) {
		clans[player.clan].members.push(player.name);
		clans[player.clan].trophies += player.trophies;
	}
	else if (player.clan !== "") {
		clans[player.clan] = {
			clan: player.clan,
			members: [player.name],
			trophies: player.trophies,
		};
	}
	else{
		solos.push(player);
	}
});
const clanArray: Array<Clan> = Object.values(clans)

// type HasTrophies = Player | Clan;


const leaderBoardData: Array<Player | Clan> = [...clanArray, ...solos].sort((a, b) => b.trophies - a.trophies);
// console.log(leaderBoardData);
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Thrones and shards</title>
	</head>

	<body>
		<Hero />
		<!-- trophy section -->
		<div id="Trophys">
		{
			leaderBoardData.map((row) => {
				const isClan = "members" in row;
				const names =  isClan ?  row.members : [row.name];
				const totalTrophies = row.trophies;
				const clanData = [];
				for (const name of names) {
					const player = playerData.find((player) => player.name === name);
					if (player) {
						clanData.push(player);
					}
				}
				return <LeaderBoardRow names={names} totalTrophies={totalTrophies} clanData={clanData}/>
			})
		}
			<!-- <LeaderBoardRow playerData={playerData} clanArray={clanArray} solos={solos} /> -->
		</div>
	</body>

	<footer class="footer items-center p-4 bg-neutral text-neutral-content">
		<aside class="items-center grid-flow-col">
			<span>🧛‍♀️</span>
			<span>Copyright © I'll milk your blood if you steal</span>
		</aside>
		<nav
			class="grid-flow-col gap-4 md:place-self-center md:justify-self-end"
		>
			<a href="https://discord.gg/Djnb5BWg">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="36"
					height="36"
					fill="currentColor"
					class="bi bi-discord"
					viewBox="0 0 16 16"
				>
					<path
						d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"
					></path>
				</svg>
			</a>
		</nav>
	</footer>
</html>